@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1260px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}



/* header - start */

.header {
    padding: 25px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.navbar {
    display: flex;
    gap: 32px;
}

.navbar-item {
    font-weight: 400;
    font-size: 19px;
    line-height: 184%;
    color: #00486d;
}

.navbar-item:hover {
    opacity: 0.5;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-tel {
    font-weight: 400;
    font-size: 17px;
    line-height: 206%;
    color: #00486d;
}

.header-button {
    border-radius: 4px;
    background-color: #00486D;
    font-size: 18px;
    line-height: 194%;
    text-align: center;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border: 1px solid #00486D;
    transition: all 1s;
}

.header-button:hover {
    background-color: transparent;
    border: 1px solid #00486D;
    color: #00486D;
    transition: all 1s;
}

.header-menu {
    display: none;
}

@media screen and (max-width:970px) {
    .header-right {
        display: none;
    }

    .header-menu {
        display: block;
    }
}

@media screen and (max-width:650px) {
    .navbar {
        display: none;
    }
}

/* header - end */

/* legal - start */

.legal {
    background-color: #e4ecf0;
    height: 750px;
    padding: 150px 0;
    position: relative;

}

.legal-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.legal-title {
    font-weight: 400;
    font-size: 55px;
    line-height: 122%;
    color: #00486d;
    max-width: 400px;
}

.legal-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 175%;
    color: #00486d;
    max-width: 560px;
}

.legal-button {
    width: 230px;
}

.legalwrapper {
    transform: translate();
}


.legal-right {
    background-color: #00486d;
    width: 35%;
    height: 750px;
    position: absolute;
    top: 0;
    right: 0;
}


.imagebuiding {
    position: relative;
    top: 56px;
    right: 160px;
    z-index: 1;
}

.imagebuiding::after {
    content: url(../images/dots.svg);
    position: absolute;
    right: 380px;
    bottom: 0;
    z-index: -1;
}

.legal-before-image {
    position: relative;
}

.legal-before-image::before {
    content: url(../images/dots.svg);
    position: absolute;
    top: -150px;
    left: -250px;
}

@media screen and (max-width: 1103px) {
    .legal-title {
        font-size: 36px;
    }

    .legal-subtitle {
        font-size: 18px;
        max-width: 380px;
    }

    .legal-button {
        padding: 8px 18px;
    }
}

@media screen and (max-width:830px) {

    .legal {
        height: auto;
    }

    .legal-right {
        display: none;
    }

    .legal-subtitle {
        max-width: 100%;
    }

    .legal-title {
        max-width: 100%;
    }

}



/* legal - end */

/* practise - start */
.itroarea {
    margin-top: 160px;
    margin-bottom: 50px;
    width: 630px;
}

.areasubtitle {
    font-size: 44px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;
    color: #00486D;
}

.areatext {
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #00486D;
}

@media screen and (max-width:667px) {
    .areasubtitle {
        font-size: 30px;
    }

    .areatext {
        font-size: 15px;
    }

    .areatext {
        max-width: 400px;
    }
}

@media screen and (max-width:430px) {
    .areasubtitle {
        width: 300px;
    }

    .areatext {
        width: 300px;
    }
}

/* practise - end */

/* cards - start */

.aboutcards {
    padding-bottom: 160px;
}

.cards {
    display: flex;
    gap: 50px;
}

.card {
    background-color: #e4ecf0;
    width: 330px;
}

.minilogo {
    padding-top: 44px;
    padding-left: 33px;
    padding-bottom: 40px;
}

.subtitle {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: #00486D;
}

.cardstext {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #00486D;
}

.sourceitem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 33px;
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #00486D;
}

@media screen and (max-width:1127px) {
    .cards {
        flex-wrap: wrap;
        font-size: 8px;
    }

    .card {
        width: 400px;
    }
}

@media screen and (max-width:440px) {
    .card {
        width: 320px;
    }
}


/* cards - end */

/* service - start */

.wrapsection {
    position: relative;
    width: 1300px;
    height: 750px;
}


.image {
    width: 1270px;
    height: 680px;
    position: relative;
}

.imgman {
    width: 100%;
    height: 100%;
}

.image::before {
    content: url(../images/dots.svg);
    position: absolute;
    top: 140px;
    right: 20px;
}



.box {
    width: 420px;
    height: 490px;
    border-radius: 8px;
    position: relative;
    bottom: 490px;
    left: 770px;
}



.box-wrapper {
    width: 100%;
    height: 100%;
    background-color: #00486d;
    z-index: auto;
}



.legalservice {
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #fff;
    padding: 53px 56px;
}

.aboutservice {
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #fff;
    padding-top: 23px;
    padding-left: 56px;
    padding-right: 58px;
    padding-bottom: 60px;
}

.aboutfilm {
    background-color: #fff;
    color: #00486D;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    border: none;
    margin-left: 56px;
    margin-right: 186px;
    margin-bottom: 72px;
    padding: 12px 24px;
    border: 1px solid white;
    transition: all 2s;
}

.aboutfilm:hover {
    border: 1px solid #002B41;
    background-color: #002B41;
    color: #fff;
    transition: all 1s;
}

@media screen and (max-width:1189px) {
    .image {
        display: none;
    }

    .box {
        position: absolute;
        top: 0;
        left: 0;
    }


}

@media screen and (max-width:460px) {
    .box {
        width: 350px;
        height: 400px;
    }

    .legalservice {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .aboutservice {
        font-size: 12px;
    }

    .aboutfilm {
        font-size: 12px;
        position: absolute;
        top: 325px;
        padding: 8px 8px;
    }
}

/* service - end */

/* aboutteam - start */

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 160 85;
}

.textbetween {
    max-width: 840px;
    text-align: center;
}

.betweentext {
    font-size: 32px;
    font-weight: 400;
    line-height: 51.2px;
    color: #00486D;
}

.minitext {
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: #00486d;
}

/* aboutteam - end */


/* articles - start */

.articlestext {
    font-size: 44px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;
    color: #00486D;
    margin-bottom: 60px;
}

.articlescards {
    display: flex;
    gap: 40px;
    margin-bottom: 160px;
}

.articles-card {
    width: 350px;
    height: 400px;
    background-color: #e4ecf0;
}

.articles-image {
    width: 100%;
    height: 40%;
}

.articles-date {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #00486D;
}

.articles-about {
    margin-top: 20px;
    max-width: 290px;
    margin-left: 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: #00486D;
}

.articlelearn {
    margin-top: 30px;
}

/* articles - end */

/* aboutadvices - start */

.advices {
    width: 1350px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 160px;
}

.advice-text {
    font-size: 44px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: center;
    color: #00486D;
}

.advices-about {
    font-size: 23px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    color: #00486D;
}

/* aboutadvices - end */

/* footer - start */

.footerwrapper {
    width: 1440px;
    height: 500px;
    background-color: #00486D;
}

.footerwrapper-second {
    display: flex;
}

.footerleft {
    margin-top: 120px;
    margin-left: 85px;
}

.footer-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: white;
}

.footerright {
    max-width: 390px;
    margin-top: 120px;
    margin-left: 200px;
}

.footer-header-second {
    font-size: 28px;
    font-weight: 400;
    line-height: 36.4px;
    text-align: left;
    color: white;
}

.footer-button {
    width: 390px;
}

.footer-button-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: #00486D;
    margin-left: 20 px;
}

.footer-button-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99B6C5;
    border: none;
    margin-top: 25px;
    border: 1px solid #99B6C5;
    transition: all 1s;
}

.footer-button-main:hover {
    background-color: white;
    color: #00486D;
    transition: all 1s;
}

.facebooktext:hover {
    opacity: 0.5;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 64px;
    margin-left: 85px;
}

.socials-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: white;
}

.footer-second {
    width: 1440px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002B41;
    padding-left: 25px;
    padding-right: 25px;
}

.footer-second-left {
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: white;
}

.footer-second-right {
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: white;
    display: flex;
    gap: 12px;
}

/* footer - end */